.parent {
  background-color: lavender;
}

.child,
.other {
  height: 50px;
  color: black;
  line-height: 50px;
  text-indent: 20px;
}

.child {
  width: 500px;
  background-color: mediumpurple;
}

.other {
  width: 100px;
  background-color: coral;
}
