* {
  box-sizing: border-box;
  margin: 0;
}

#calculator {
  width: 200px;
  background-color: lavender;
  border: 0.5px solid lavender;
}

#output-display,
#input-display {
  height: 20px;
  background-color: white;
}
