* {
  box-sizing: border-box;
  margin: 0;
}

h1 {
  margin-bottom: 48px;
}

h2 {
  margin-bottom: 24px;
}

h3 {
  margin-bottom: 8px;
}

p {
  margin-bottom: 32px;
}

.container {
  /* 반응형웹 만들기의 첫 단추 width와 max-width 설정하기*/
  width: 100%;
  max-width: 736px;
  margin: 0 auto;
  padding: 48px;
}
